<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/dash_style.css">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-XXXXXXX" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <nav>
        <div class="logo-name">
            <span class="logo_name">GreenTracker</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/dash">
                    <i class="bi-speedometer2"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li>
                <li><a href="#">
                    <i class="bi-trophy"></i>
                    <span class="link-name">Challenges</span>
                </a></li>
                <li><a href="/donate">
                    <i class="fas fa-donate"></i>
                    <span class="link-name">Donate</span>
                </a></li>
                <li><a href="/shop">
                    <i class="bi-shop"></i>
                    <span class="link-name">Buy Coins</span>
                </a></li>

                <li><a href="sustainable">
                    <i class="bi-twitter"></i>
                    <span class="link-name">Share</span>
                </a></li>
            </ul>

            <ul class="logout-mode">
                <li><a href="/logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="link-name">Logout</span>
                </a></li>
            </ul>
        </div>
    </nav>

    <section>
      <div class="container">
        <div class="card">
          <div class="front">
            <div class="content">
                <i class="bi-tree" style="font-size: 80px"></i>
              <h3>Plant a Tree / Plant</h3>
            </div>
          </div>
          <div class="back">
            <div class="content">
              <br>
                1) Go out And Touch Grass!</br>
                2) Take A Plant From a nursery near you / Or Bring a Seed</br>
                3) Plant it in a garden</br>
                4) Take a Time Stamp 360 Video of the Plant and Email it to - submission@moneyontree.co
                5) Get 1 Green Coin
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="card">
          <div class="front">
            <div class="content">
              <img src="design-img.png" />
              <h3>DESIGN</h3>
            </div>
          </div>
          <div class="back">
            <div class="content">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure
                nam expedita exercitationem?
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="card">
          <div class="front">
            <div class="content">
              <img src="develop-img.png" />
              <h3>DEVELOP</h3>
            </div>
          </div>
          <div class="back">
            <div class="content">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure
                nam expedita exercitationem?
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="/static/assets/js/dash.js"></script>
</body>
</html>