<!DOCTYPE html>
<html lang="en">

<head>
  <title>Green Tracker - Earn Rewards for Sustainable Actions</title>  <meta content="" name="description">
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/css/style.css" rel="stylesheet">
</head>

<body>
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">GreenTracker</a></h1>
      <a href="index.html" class="logo"><img src="../static/assets/img/logo.png" alt="" class="img-fluid"></a>
    </div>
  </header>
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Join the Sustainability Revolution with Green Tracker!</h1>
          <h2>Connecting Donors and Receivers for Environmental Impact</h2>
          <div class="d-flex">
            <a href="/login" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Demo Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="../static/../static/assets/img/hero-img.jpg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>

  <main id="main">

    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-cash-coin"></i></div>
              <h4 class="title"><a href="">Donation</a></h4>
              <p class="description">Green Tracker connects donors to users completing eco-friendly actions, rewarding users with Green Coins that can be converted to real money.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gift"></i></div>
              <h4 class="title"><a href="">Receive</a></h4>
              <p class="description">Green Tracker users earn Green Coins by completing eco-friendly actions, which can be redeemed for real money donated by sponsors.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-tree"></i></div>
              <h4 class="title"><a href="">Nature</a></h4>
              <p class="description">Join us to take small actions for a greener world. Together, we can make a big impact towards a more sustainable planet.</p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="../static/assets/img/about.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Join us in our mission to protect the environment and create a sustainable future.</h3>
            <p class="fst-italic">
              Green Tracker is a platform that connects people who want to make a difference and take action to protect our environment. Our goal is to create a community of like-minded individuals who are passionate about sustainability and making the world a better place.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Take action and complete eco-friendly challenges</li>
              <li><i class="bi bi-check-circle"></i> Earn Green Coins and redeem them for real money donated by donors.</li>
              <li><i class="bi bi-check-circle"></i> Join a community of people who care about the environment</li>
            </ul>
            <p>
              We believe that every small action we take can have a big impact on the planet. By working together, we can make a real difference and ensure a brighter future for generations to come.
            </p>
          </div>
        </div>

      </div>
    </section>

    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="2500" data-purecounter-duration="1" class="purecounter"></span>
            <p>Users</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="10000" data-purecounter-duration="1" class="purecounter"></span>
            <p>Challenges Completed</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="50000" data-purecounter-duration="1" class="purecounter"></span>
            <p>Green Coins Earned</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="90000" data-purecounter-duration="1" class="purecounter"></span>
            <p>Punds of CO2 Emission reduced</p>
          </div>

        </div>

      </div>
    </section>

  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/js/main.js"></script>

</body>

</html>